*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Color */
    --blue: #799EFF;

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
}

/* replace after by #root */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--space-lg);
    padding: var(--space-lg);
    background-color: #d7d7d7;

    font-family: "Ubuntu", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--space-sm);
    padding: var(--space-lg);
    background-color: white;
}
h1 {
    color: var(--blue);
}
.score-container {
    display: flex;
    gap: var(--space-lg);
}

.cards-container {
    display: grid;
    gap: var(--space-md);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.card {
    width: 100%;
    height: auto;
    border: none;
    border-radius: var(--space-md);

    background-color: white;
}

.end-game-alert {
    background-color: red;
}

.bold {
    font-size: larger;
}