/* The rest of general styling that apply to the app component */

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--space-lg);
    background-color: #d7d7d7;

    font-family: "Ubuntu", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--space-lg);
    background-color: white;
}
h1 {
    color: var(--blue);
}
.score-container {
    display: flex;
    gap: var(--space-lg);
}

.cards-container {
    display: grid;
    gap: var(--space-md);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.card {
    width: 100%;
    height: auto;
    border: none;

    background-color: white;
}

.alert-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    background-color: var(--faded-black);
}
.end-game-alert {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 325px;
    display: flex;
    flex-direction: column;
    padding: var(--space-lg);
    justify-content: space-between;

    background-color: white;  
}
#alert-heading {
    text-align: center;
}
.end-game-score-container {
    display: flex;
    justify-content: space-between;
}
#play-again-button {
    padding: var(--space-xs) var(--space-xs);
    border: none;
    background-color: var(--blue);
    color: white;
}

header,
main {
    margin: var(--space-lg);
}

header,
.card,
.end-game-alert {
    border-radius: var(--space-md);
}

.bold {
    font-size: larger;
}
.end-game-score {
    color: var(--blue);
}