/* Index.css for general styles like root and body */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Color */
    --blue: #799EFF;
    --faded-black: #12131473;

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
}

button {
    font-family: "Ubuntu", sans-serif;
}
button:hover {
    border: 2px solid var(--blue);
}